* {
    margin: 0;
    padding: 0;
}

.grupo{
    display: flex;
    flex-direction: column;
}

.cabecalho{
    background-color: #0de2e2;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a {
    color: #fff;
    text-decoration: none;
    margin-left:  15px;
} 

.conteudo{
    display: flex;
    height: 200px;
}
.navegacao{
    background-color: #d81313;
    display: inline-block;
    width: 30%;
    padding: 10px;
}
.secao{
    background-color: #d16b0c;
    display: inline-block;
    width: 70%;
    padding: 10px;

    
}
.rodape{
    background-color: #7fff00;
}
.navegacao ul{
    list-style: none;
    padding: 0;
}
.navegacao li{
    margin-bottom: 10px;
}